/* Brand Colors ------------------------------------------------*/
	
	$primary-color: #efa521;
	$primary-color-2:#efa521;
	$secondary-color: #343434;
	$strategy-color: #89c155;
	$design-color: #32acc7;
	$development-color: #faad17;
	$maintenance-color: #a94474;
	$marketing-color: #bc2f2d;
	$font-color: #4e4e4e;